html, body {
  margin: 50px;
  padding: 0;
}
.paragraph {
  padding: 0 200px 0 0;
  color: red;
}
.red-text {
  color: red;
}
.blue-box {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
  z-index: 0;
}
img {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  z-index: -1;
}
a {
  color: rgba(0, 255, 255, 0.5);
}
